{% extends 'base.html' %}

{% block content %}



<!------ Include the above in your HEAD tag ---------->
 
<div class="container">


<img src="{{disease_pic.url}}" height="259" width="256" alt="">
<h2>Early Blight</h2>
            
          <div class="row-fluid">
          <h3>Disease symptoms</h3>
          <p>Symptoms of early blight occur on older foliage, stem, and fruits. Gray to brown spots appear on leaves and gradually grow in a concentric manner around a clear center - the characteristic “bullseye” formation. These lesions are surrounded by a bright yellow halo. As the disease progresses, entire leaves may turn chlorotic and shed, leading to significant defoliation. When leaves die and fall, fruits become more vulnerable to sun scald. The same type of spots with a clear center appears on stems and fruits. Rotting of fruits and sometimes dropping follows. </p>
          </div>
          



          <h3>Disease trigger </h3>
          <div class="media">
          
          <div class="media-body">
          
          <p>Symptoms are caused by Alternaria solani, a fungus that overwinters on infected crop debris in soil or on alternative hosts. Purchased seeds or seedlings may also be already contaminated. Lower leaves often get infected when in contact with contaminated soil. Warm temperatures (24-29°C) and high humidity (90%) favor development of the disease. A long wet period (or alternating wet/dry weather) enhances the production of spores, which may be spread via wind, splashing rain or overhead irrigation. Tubers harvested green or in wet conditions are particularly susceptible to an infection. It often strikes after a period of heavy rainfall and is particularly destructive in tropical and subtropical areas. </p>
          <!-- Nested media object -->
          <div class="media">
          ...
          </div>
          </div>
          </div>
          
          <br />
          <h3>Disease preventive mesures</h3>
          <div class="media">
           
          <div class="media-body">
          
          <p> Use certified pathogen-free seeds or transplants. </p>
         <p> Look for varieties that are resistant to the disease. </p>
         <p> Plant or transplant on raised beds to improve drainage.</p>
          <p>Orient rows in the direction of main winds and avoid shaded areas.</p>
          <p>Space plants to allow canopy to dry quickly after rainfall or irrigation.</p>
          <p>Lay mulch on the soil to keep plants from touching the soil.</p>
        <p>Monitor fields for signs of the disease, particularly during wet weather.</p>
          <p>Remove leaves displaying symptoms and destroy them.</p>


          <!-- Nested media object -->


          <div class="media">
          ...
          </div>
          </div>
          </div>
</div>




{% endblock %}