{% extends 'base.html' %}

{% block content %}



<!------ Include the above in your HEAD tag ---------->
 
<div class="container">


<img src="{{disease_pic.url}}" height="259" width="256" alt="">
<h2>Potato Late Blight</h2>
            
          <div class="row-fluid">
          <h3>Disease symptoms</h3>
          <p>Dark brown spots develop on the leaves starting at the tip or the leaf margins. In humid climates, these spots become water-soaked lesions. A white fungal covering can be seen on the underside of the leaves. As the disease progresses, entire leaves become necrotic, turn brown and die off. Similar lesions develop on stems and petioles. The potato tubers have greyish-blue spots on their skin and their flesh also turns brown,making them inedible. The rotting of the infested fields give off a distinctive smell.  </p>
          </div>
          



          <h3>Disease trigger </h3>
          <div class="media">
          
          <div class="media-body">
          
          <p>This fungus is an obligate parasite. This means that it must overwinter in plant debris and tubers as well as on alternative hosts to survive. It enter the plant via wounds and rips in the skin. Fungal spores germinate at higher temperatures during the spring and spread through wind or water. The disease is more severe in periods of cool nights (below 18°C), warm days (between 18 and 22°C), and extended wet conditions such as rain and fog (90% relative humidity). In these conditions, a late blight epidemics can ensue.  </p>
          <!-- Nested media object -->
          <div class="media">
          ...
          </div>
          </div>
          </div>
          
          <br />
          <h3>Disease preventive mesures</h3>
          <div class="media">
           
          <div class="media-body">
          
          <p> Use healthy seeds or more tolerant plants. </p>
         <p> Avoid excessive fertilization with nitrogen. </p>
         <p> Use plant fortifiers.</p>
           
      

          <!-- Nested media object -->


          <div class="media">
          ...
          </div>
          </div>
          </div>
</div>




{% endblock %}