{% extends 'base.html' %}
{% block content %}
 

<div class="col-md-9 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                          <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">User Name</label> 
                            <div class="col-8">
                              <input id="username" name="UserName" value={{uname}} class="form-control here"  type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">First Name</label> 
                            <div class="col-8">
                              <input id="name" name="FirstName" value={{fname}} class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                            <div class="col-8">
                              <input id="lastname" name="LastName" value={{lname}} class="form-control here" type="text">
                            </div>
                          </div>
                           
                          
                          <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email</label> 
                            <div class="col-8">
                              <input id="email" name="Email" value={{email}} class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="mnum" class="col-4 col-form-label">Mobile Number</label> 
                            <div class="col-8">
                              <input id="mnum" name="phone" value={{mnum}} class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Bio" class="col-4 col-form-label">Public Info</label> 
                            <div class="col-8">
                              <textarea id="Bio" name="Bio" cols="40" rows="4" class="form-cont+rol"></textarea>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="newpass" class="col-4 col-form-label">New Password</label> 
                            <div class="col-8">
                              <input id="newpass" name="PassWord" placeholder="New Password" class="form-control here" type="text">
                            </div>
                          </div> 
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>




{% endblock %}